<header class="page-header">
    <div>
        <div>
            <h1>Tabla de Países Hispanohablantes de América</h1>
            <p>Administra los países hispanos de América. Agrega, edita y elimina paises de forma sencilla.</p>
        </div>
        <a href="/GeoPanel/crear">+ Crear País</a>
    </div>
</header>
<!-- Mensaje de éxito/error -->
<% if (mensaje) { %>
  <div class="alert alert--<%= tipoMensaje %>">
    <span class="alert-icon"><%= // tipoMensaje === 'exito' ? '✓' : 'ℹ' %>
        <%= mensaje %>
        <br>
        <%= tipoMensaje %>
    </span>
    <button type="button" class="alert-close">×</button>
  </div>
<% } %> 

<!-- Mensaje por si la colección está vacía -->
<% if (paises.length === 0) { %>
    <div>
        <div>
            <h2>Su colección de Países Hispano de América se encuentra vacía</h2>
            <p>Empieze agregando su primer País</p>
        </div>
        <a href="/GeoPanel/crear">+ Crear País</a>
    </div>
<% } else { %>
    <!-- Si la colección no está vacía iterar los países y renderizar cada uno en una fila de la tabla -->
    <table>
        <thead>
            <!-- Bandera -->
            <th></th> 
            <th>Nombre</th>
            <th>Capital</th>
            <th>Fronteras</th>
            <th>Área (km<sup>2</sup>)</th>
            <th>Población</th>
            <th>Zonas Horárias</th>
            <th>Indice Gini</th>
            <th>Creador</th>
        </thead> 
        <tbody>
            <% paises.forEach((pais) => { %>
                <tr data-id="<%= pais._id %>">
                    <!-- BANDERA -->
                    <td>
                        <img src="<%= pais.bandera %>" alt="Bandera de <%= pais.nombre.comun %>">
                    </td>
                    <!-- NOMBRE -->
                    <td>
                        <span><%= pais.nombre.comun %></span>
                        <span><%= pais.nombre.oficial %></span>
                    </td>
                    <!-- CAPITAL -->
                    <td>
                        <%= pais.capital.join(', ') %>
                    </td>
                    <!-- FRONTERAS -->
                    <td>
                        <% if (pais.fronteras && pais.fronteras.length > 0) { %>
                            <div>
                                <% pais.fronteras.forEach((frontera) => { %>
                                    <span><%= frontera %></span>
                                <% }) %>
                            </div>
                        <% } else { %>
                            <span>Sin Fronteras</span>
                        <% } %>
                    </td>
                    <!-- AREA -->
                    <td>
                        <%= pais.area.toLocaleString('es-AR') %>
                    </td>
                    <!-- POBLACIÓN -->
                    <td>
                        <%= pais.poblacion.toLocaleString('es-AR') %>
                    </td>
                    <!-- ZONAS HORARIAS -->
                    <td>
                        <div>
                            <% pais.zonasHorarias.forEach((zonaHoraria) => { %>
                                <span><%= zonaHoraria %></span>
                            <% }) %>
                        </div>
                    </td>
                    <!-- INDICE GINI -->
                    <td>
                        <% if (pais.indiceGini && pais.indiceGini.valor) { %>
                            <span><%= pais.indiceGini.valor.toFixed(1) %></span>
                            <span><%= pais.indiceGini.anio %></span>
                        <% } else { %>
                            <span>-</span>
                        <% } %>
                    </td>
                    <!-- CREADOR -->
                    <td>
                        <%= pais.creador %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
        <!-- Totales de població y area y promedio de gini (solo para los paises que tienen este dato) -->
        <tfoot>
                <tr>Área total (km<sup>2</sup>): <%= parseFloat(totalArea).toLocaleString('es-AR') %> - Población total: <%= totalPoblacion.toLocaleString('es-AR') %> - Promedio Gini: <%= promedioGini.toLocaleString('es-AR')%></tr>
        </tfoot>
    </table>
<% } %>

<!-- <script type="module" src="../public/js/limpiarUlr.js"></script> -->
<script>
    window.addEventListener('load', () => {
	const url = new URL(window.location.href);
	// Si la URL tiene la cadena de consulta la limpia
	if (url.search.length > 0) {
		url.search = '';
		window.history.replaceState({}, document.title, url.pathname);
	}
});

</script>