<header class="w-full my-8">
    <div class="flex justify-between items-center">
        <div>
            <h1 class="text-lg mb-2">Tabla de Países Hispanohablantes de América</h1>
            <p class="text-sm">Administra los países hispanos de América. Agrega, edita y elimina paises de forma sencilla.</p>
        </div>
        <a class="btn btn--primary" href="<%= prefijo %>/crear">+ Crear País</a>
    </div>
</header>

<!-- Mensaje de éxito/error -->
<% if (mensaje.msg && mensaje.tipo) { %>
  <div class="alert alert--<%= mensaje.tipo %>">
    <span class="alert-icon"><%= // tipoMensaje === 'exito' ? '✓' : 'ℹ' %>
        <%= mensaje.msg %>
        <br>
        <%= mensaje.tipo %>
    </span>
    <button type="button" class="alert-close">×</button>
  </div>
<% } %> 

<!-- Mensaje por si la colección está vacía -->
<% if (respuesta.paises.length === 0) { %>
    <div class="my-8 w-[40%] mx-auto border text-lg p-4">
        <div class="text-center">
            <h2>Su colección de Países Hispano de América se encuentra vacía</h2>
            <p>Empiece agregando su primer País</p>
        </div>
        <a href="<%= prefijo %>/crear">+ Crear País</a>
    </div>
<% } else { %>
    
    <table class="w-full bg-(--bg-light) p-4 text-sm">
        <thead class="bg-(--bg-sec) text-(--clr-primary)">
            <th colspan="2"></th> 
            <th>Nombre</th>
            <th>Capital</th>
            <th>Área (km<sup>2</sup>)</th>
            <th>Población</th>
            <th>Creador</th>
            <th>Acción</th>
        </thead> 
        <tbody>
            <% respuesta.paises.forEach((pais) => { %>
                <%- include('partials/tableRow', { pais }) %>
            <% }); %>
        </tbody>
        <!-- Totales de població y area y promedio de gini (solo para los paises que tienen este dato) -->
        <tfoot class="border-t border-(--border)">
            <tr>
                <td colspan="100%">
                    <span class="mr-8">Area Total(Km<sup>2</sup>): <%= respuesta.totalArea %></span>
                    <span>Población Total: <%= respuesta.totalPoblacion %></span>
                </td>
            </tr>
        </tfoot>
    </table>
<% } %>
