<header class="w-full mb-8">
    <div class="flex justify-between items-center">
        <div>
            <h1 class="text-2xl ">Tabla de Países Hispanohablantes de América</h1>
            <p class="text-lg">Administra los países hispanos de América. Agrega, edita y elimina paises de forma sencilla.</p>
        </div>
        <a class="" href="/GeoPanel/crear">+ Crear País</a>
    </div>
</header>

<!-- Mensaje de éxito/error -->
<% if (mensaje.msg && mensaje.tipo) { %>
  <div class="alert alert--<%= mensaje.tipo %>">
    <span class="alert-icon"><%= // tipoMensaje === 'exito' ? '✓' : 'ℹ' %>
        <%= mensaje.msg %>
        <br>
        <%= mensaje.tipo %>
    </span>
    <button type="button" class="alert-close">×</button>
  </div>
<% } %> 

<!-- Mensaje por si la colección está vacía -->
<% if (respuesta.paises.length === 0) { %>
    <div class="my-8 w-[40%] mx-auto border text-lg p-4">
        <div class="text-center">
            <h2>Su colección de Países Hispano de América se encuentra vacía</h2>
            <p>Empiece agregando su primer País</p>
        </div>
        <a href="/GeoPanel/crear">+ Crear País</a>
    </div>
<% } else { %>
    
    <table class="w-full border border-(--border)">
        <thead>
            <th></th> 
            <th>Nombre</th>
            <th>Capital</th>
            <th>Fronteras</th>
            <th>Área (km<sup>2</sup>)</th>
            <th>Población</th>
            <th>Zonas Horárias</th>
            <th>Indice Gini</th>
            <th>Creador</th>
        </thead> 
        <tbody>
            <% respuesta.paises.forEach((pais) => { %>
                <%- include('partials/tableRow', { pais }) %>
            <% }); %>
        </tbody>
        <!-- Totales de població y area y promedio de gini (solo para los paises que tienen este dato) -->
        <tfoot>
            <tr>
                <td>Area Total(Km<sup>2</sup>): <%= respuesta.totalArea.toLocaleString('es-AR') %></td>
                <td>Población Total: <%= respuesta.totalPoblacion.toLocaleString('es-AR') %> Habitantes</td>
            </tr>
        </tfoot>
    </table>
<% } %>
