
<tr class="rowmain relative cursor-pointer" data-countryId="<%= pais._id %>" data-target="det-<%= pais._id %>">
    <td>
        <i class="chevron fa-solid fa-chevron-down " id="chev-<%= pais._id %>"></i>
    </td>
    <td>
        <img src="<%= pais.bandera %>" class="inline-block min-w-14 max-w-14" alt="Bandera de <%= pais.nombre.comun %>">
    </td>
    <td class="">
        <span><%= pais.nombre.comun %></span>
        <br>
        <span class="text-xs"><%= pais.nombre.oficial %></span>
    </td>
    <td>
        <%= pais.capital.join(', ') %>
    </td>
    <td>
        <%= pais.area.toLocaleString('es-AR') %>
    </td>
    <td>
        <%= pais.poblacion.toLocaleString('es-AR') %>
    </td>
    <td>
        <%= pais.creador %>
    </td>
    <!-- Botones para editar/eliminar -->
    <td class="rowaction flex gap-1 items-center">
        <a class="btn btn--primary" href="<%= prefijo %>/<%= pais._id %>/editar">Editar</a>
        <form class="rowaction" action="<%= prefijo %>/<%= pais._id %>/eliminar?_method=DELETE" method="POST">
            <button type="submit" class="btn btn--delete">Eliminar</button>
        </form>
    </td>
</tr>


<tr class="rowdetail">
    <td colspan="100%" >
        <div class="detail-inner" id="det-<%= pais._id %>">
            <div class="detail-grid">
                <div class="detail-item">
                    <label>Subregión</label>
                    <span><%= pais.subregion %></span>
                </div>
                 <div class="detail-item">
                    <label>Moneda</label>
                    <span><%= pais.moneda.simbolo %> - <%= pais.moneda.nombre %></span>
                </div>
                <div class="detail-item">
                    <label>Es independiente:</label>
                    <span><%= pais.independiente === true ? 'Si' : 'No' %></span>
                </div>
                <div class="detail-item">
                    <label>Con salida al mar:</label>
                    <span><%= pais.salidaAlMar === true ? 'Si' : 'No' %></span>
                </div>
                <div class="detail-item">
                    <label>Miembro de la ONU:</label>
                    <span><%= pais.miembroONU === true ? 'Si' : 'No' %></span>
                </div>
                <div class="detail-item">
                    <label>FIFA:</label>
                    <span><%= pais.fifa ? pais.fifa : '-' %></span>
                </div>
                <div class="detail-item">
                    <label>Coordenada:</label>
                    <span>Latitud: <%= pais.coordenadas.latitud %> - Longitud: <%= pais.coordenadas.longitud %></span>
                </div>
                <div class="detail-item">
                    <label>Fronteras:</label>
                    <span>
                        <% if (pais.fronteras && pais.fronteras > 0) { %>
                            <%= pais.fronteras.join(', ') %>
                        <% } else { %>
                            <%= 'Sin Fronteras' %>
                        <% } %>
                    </span>
                </div>
                <div class="detail-item">
                    <label>Zonas Horarias</label>
                    <span>
                        <% pais.zonasHorarias.forEach((zonaHor) => { %>
                           <%= zonaHor %> 
                        <% }) %>
                    </span>
                </div>
                <div class="detail-item">
                    <label>Indice de Gini</label>
                        <% if (pais.indiceGini && pais.indiceGini.valor) { %>
                            <span>
                                <%= pais.indiceGini.valor %>
                            </span>
                            <small>
                                <%= pais.indiceGini.anio %>
                            </small>
                        <% } else { %>
                            <span>
                                <%= 'Sin datos' %>
                            </span>
                        <% } %>
                </div>
            </div>
        </div>
    </td>
</tr>